html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  transition: background-color 0.5s ease;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quote-box {
  width: 80%;
  margin: 15% 5% 2%;
  padding: 5%;
  border-radius: 0.5rem;
  background-color: white;
  transition: color 0.5s ease;
}

.text {
  font-size: 1.5rem;
}

.author {
  font-size: 1.2rem;
}

.btn-share {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

.new-quote {
  font-size: 0.8rem;
  padding: 1rem;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

.new-quote:hover {
  opacity: 0.9;
}

.tweet-quote {
  padding: 1rem;
  border-radius: 5px;
}

.tweet-quote:hover {
  opacity: 0.9;
}

footer {
  color: white;
  margin-bottom: 2%;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-evenly;
  align-self: normal;
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer a:hover {
  font-size: 1.1rem;
  transition: font-size 0.2s ease-in-out;
}

@media (min-width: 650px) {
  .quote-box {
    margin-top: 5%;
  }

  .text {
    font-size: 2.5rem;
  }

  .author {
    font-size: 1.5rem;
  }

  .new-quote,
  footer {
    font-size: 1rem;
  }
}
